<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SRS - PAUP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-color: #f8f9fa;
        }

        .navbar-brand, .nav-link, footer {
            color: #fff !important;
        }

        .navbar-dark .navbar-toggler-icon {
            filter: invert(100%);
        }

        footer {
            background-color: #343a40;
            padding: 20px 0;
            text-align: center;
            color: #ffffff;
        }

        .footer-text {
            margin: 0;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Sustav rezervacije stolova", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    @if (User.Identity.IsAuthenticated && (User as SRSprojekt.Misc.curUser).IsInRole(SRSprojekt.Misc.OvlastiKorisnik.Administrator))
                    {
                        <li class="nav-item">@Html.ActionLink("Klubovi", "Popis", "Klub", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    @if (User.Identity.IsAuthenticated && (User as SRSprojekt.Misc.curUser).IsInRole(SRSprojekt.Misc.OvlastiKorisnik.Administrator))
                    {
                        <li class="nav-item">@Html.ActionLink("Ovlastene osobe klubova", "Popis", "oKlub", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    @if (User.Identity.IsAuthenticated && (User as SRSprojekt.Misc.curUser).IsInRole(SRSprojekt.Misc.OvlastiKorisnik.OvlastenaOsobaKluba))
                    {
                        <li class="nav-item">@Html.ActionLink("Rezervatori", "Popis", "Rezervator", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    @if (User.Identity.IsAuthenticated && (User as SRSprojekt.Misc.curUser).IsInRole(SRSprojekt.Misc.OvlastiKorisnik.OvlastenaOsobaKluba))
                    {
                        <li class="nav-item">@Html.ActionLink("Stolovi", "Index", "Stolovi", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    @if (User.Identity.IsAuthenticated && (User as SRSprojekt.Misc.curUser).IsInRole(SRSprojekt.Misc.OvlastiKorisnik.OvlastenaOsobaKluba))
                    {
                        <li class="nav-item">@Html.ActionLink("Statistika stolova", "Index", "Statistika", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    @if (User.Identity.IsAuthenticated && (User as SRSprojekt.Misc.curUser).IsInRole(SRSprojekt.Misc.OvlastiKorisnik.Administrator))
                    {
                        <li class="nav-item">@Html.ActionLink("Rezervacije", "Index", "rezervacijas", new { area = "" }, new { @class = "nav-link" })</li>
                    }






                    @if (User.Identity.IsAuthenticated && (User as SRSprojekt.Misc.curUser).IsInRole(SRSprojekt.Misc.OvlastiKorisnik.Administrator))
                    {
                        <li class="nav-item">@Html.ActionLink("Korisnici", "Index", "Korisnici", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
                <ul class="navbar-nav ms-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">@Html.ActionLink((User as SRSprojekt.Misc.curUser).PrIm, "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Odjava", "Odjava", "Korisnici", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li class="nav-item">@Html.ActionLink("Registracija", "Registracija", "Korisnici", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Prijava", "Prijava", "Korisnici", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container my-5">
        @RenderBody()
        <hr />
        <footer>
            <p class="footer-text">&copy; @DateTime.Now.Year - Sustav rezervacije stola - PAUP Mislovic Abel</p>
            @Html.ActionLink("Registracija klubova", "SendEmailK", "rezervacija", new { area = "" }, new { @class = "navbar-brand" })
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
