@using SRSprojekt.Models
@model Klub
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@if(ViewBag.NoviKlub)
            {


<h2>Kreiranje novog kluba</h2>
}
else
            {
                <h2>Azuriranje podataka o studentu</h2>
                <h3>@Model.nazivK</h3>
            }

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Ispravite podatke.")
<table>
        @if (ViewBag.NoviKlub) { 
        <tr>
            <td>
                @Html.LabelFor(model => model.id_kluba)
            </td>
            <td>@Html.TextBoxFor(model => model.id_kluba, new { disabled = false })</td>
        </tr>
        }
        <tr>
            <td>
                @Html.LabelFor(model => model.nazivK)
            </td>
            <td>
                @Html.TextBoxFor(model => model.nazivK)
                @Html.ValidationMessageFor(model => model.nazivK)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.adresaK)
            </td>
            <td>
                @Html.TextBoxFor(model => model.adresaK)
                @Html.ValidationMessageFor(model => model.adresaK)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.brStol)
            </td>
            <td>
                @Html.TextBoxFor(model => model.brStol)
                @Html.ValidationMessageFor(model => model.brStol)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Cijenovni_Rang)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Cijenovni_Rang)
                @Html.ValidationMessageFor(model => model.Cijenovni_Rang)
            </td>
        </tr>
    </table>
    @Html.ValidationSummary(true, "Spremanje nije uspjelo!");
    <p><input type="submit" value="Spremi" /></p>
    @Html.ActionLink("Povratak bez spremanja", "Popis", "Klub")
}

