@using SRSprojekt.Models
@model List<Klub>
@{
    ViewBag.Title = "Popis klubova";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Popis</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Naziv</th>
        <th>Adresa</th>
        <th>Broj stolova</th>
        <th>Cijenovni rang</th>
        <th>Detalji</th>
        <th>Azuriraj</th>
    </tr>
    @foreach(var klubovi in Model)      
    {
                <tr>
                    <td>@klubovi.id_kluba</td>
                    <td>@klubovi.nazivK</td>
                    <td>@klubovi.adresaK</td>
                    <td>@klubovi.brStol</td>
                       <td>@klubovi.Cijenovni_Rang</td>
                    <td>@Html.ActionLink("Info", "Detalji", new { id = klubovi.id_kluba }) </td>
                    <td>@Html.ActionLink("Azuriraj", "Azuriraj", new { id = klubovi.id_kluba }) </td>
                </tr>
            }
</table>

