@model SRSprojekt.Models.rezervacija

<h2>Detalji rezervacije</h2>

<table>
    <tr>
        <th>ID rezervacije</th>
        <td>@Model.ID_rezervacije</td>
    </tr>
    <tr>
        <th>Datum i vrijeme</th>
        <td>@Model.DatVri.ToString("g")</td>
    </tr>
    <tr>
        <th>Status rezervacije</th>
        <td>@(Model.Zauzetost ? "Zauzeto" : "Slobodno")</td>
    </tr>
</table>

<h3>Detalji stola</h3>

<table>
    <tr>
        <th>Broj stola</th>
        <td>@Model.brStola.broj_stola</td>
    </tr>
    <tr>
        <th>Zauzetost</th>
        <td>@(Model.brStola.zauzetost ? "Da" : "Ne")</td>
    </tr>
</table>
