@model IEnumerable<SRSprojekt.Models.rezervacija>

@{
    ViewBag.Title = "Pregled Rezervacija";
}

<h2>Pregled Rezervacija</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID rezervacije</th>
            <th>Broj stola</th>
            <th>Zauzetost</th>
            <th>Datum i vrijeme</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ID_rezervacije)</td>
                <td>@Html.DisplayFor(modelItem => item.ID_stola)</td>
                <td>@Html.DisplayFor(modelItem => item.Zauzetost)</td>
                <td>@Html.DisplayFor(modelItem => item.DatVri)</td>
                <td>
                    @Html.ActionLink("Detalji", "Details", new { id = item.ID_rezervacije }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Uredi", "Edit", new { id = item.ID_rezervacije }, new { @class = "btn btn-warning" })
                    @using (Html.BeginForm("Delete", "rezervacijas", new { id = item.ID_rezervacije }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Obriši" class="btn btn-danger" onclick="return confirm('Jeste li sigurni da želite obrisati ovu rezervaciju?');" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Nova Rezervacija", "Create", null, new { @class = "btn btn-success" })
</p>
