@model SRSprojekt.Models.Stolovi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stolovi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.broj_stola)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.broj_stola)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zauzetost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zauzetost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aktivniR.ImePrezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aktivniR.ImePrezime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Sifra }) |
    @Html.ActionLink("Back to List", "Index")
</p>
