@model List<SRSprojekt.Models.Stolovi>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create","Stolovi")" class="btn btn-success">
        Kreiranje novog stola

    </a>
</p>
<p>
    <a href="@Url.Action("IspisStolova", "Stolovi",
                new { rez = ViewBag.rez, brst = ViewBag.brst,
                    zau = ViewBag.zau, sort = ViewBag.Sortiranje })" class="btn btn-primary">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Kreiraj PDF
    </a>
</p>

<table class="table">
    <tr>
        <th>
            Broj stola
        </th>
        <th>
            Zauzetost
        </th>
        <th>
            Rezervator
        </th>

    </tr>

    @foreach (var stol in Model)
    {
        <tr>
            <td>@stol.broj_stola</td>
            <td>@stol.zauzetost</td>
            <td>@(stol.aktivniR?.ImePrezime)</td>
        </tr>

        <td>
            @Html.ActionLink("Azuriraj", "Edit", new { id = stol.Sifra }, new { @class = "btn btn-warning btn sm" }) |
            @Html.ActionLink("Detalji", "Details", new { id = stol.Sifra }, new { @class = "btn btn-info btn sm" }) |
            @Html.ActionLink("Izbrisi", "Delete", new { id = stol.Sifra }, new { @class = "btn btn-danger btn sm" })
        </td>

    }

</table>
