@using SRSprojekt.Models
@model oKlub
@{
    ViewBag.Title = "Azuriranje: " + Model.Ime + Model.Prezime;
}

@if (ViewBag.NoviOvlasteni)
{


    <h2>Dodavanje nove ovlastene osobe</h2>
}
else
{
    <h2>Azuriranje podataka o ovlastenoj osobi</h2>
    <h3>@Model.ImePrezime</h3>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Ispravi greske.");
    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.Id)
            </td>
            <td>@Html.TextBoxFor(model => model.Id, new { disabled = true })</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Ime)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Ime)
                @Html.ValidationMessageFor(model => model.Ime)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Prezime)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Prezime)
                @Html.ValidationMessageFor(model => model.Prezime)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Oib)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Oib)
                @Html.ValidationMessageFor(model => model.Oib)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Email)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Mobitel)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Mobitel)
                @Html.ValidationMessageFor(model => model.Mobitel)
            </td>
        </tr>

    </table>
    @Html.ValidationSummary(true, "Spremanje nije uspjelo!");
    <p><input type="submit" value="Spremi" /></p>
    @Html.ActionLink("Povratak bez spremanja", "Popis", "oKlub")
}

