@using SRSprojekt.Models
@model oKlub


<h2>Detalji o ovlastenoj osobi kluba</h2>

    ID ovlastene osobe: @Model.Id
    <br />
    OIB ovlastene osobe: @Model.Oib
    <br />
    Ime ovlastene osobe: @Model.Ime
    <br />
    Prezime ovlastene osobe: @Model.Prezime
    <br />
    Email ovlastene osobe: @Model.Email
    <br />
    Mobitel ovlastene osobe: @Model.Mobitel
    <br />

