@using SRSprojekt.Models
@model Rezervator
@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji o rezervatoru</h2>

ID rezervatora: @Model.Id
<br />
Ime rezervatora: @Model.Ime
<br />
Prezime rezervatora: @Model.Prezime
<br />
Email rezervatora: @Model.Email
<br />
Mobite rezervatora: @Model.Mobitel
<br />
Datum rodenja rezervatora: @Model.datumRod
<br />

