@using SRSprojekt.Models
@model List<Rezervator>
@{
    ViewBag.Title = "Popis rezervatora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Popis</h2>

@Html.ActionLink("Dodavanje novog rezervatora", "Azuriraj")
<br />
<br />

<table border="1">
    <tr>
        <th>ID</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Email</th>
        <th>Mobitel</th>
        <th>Datum rodenja</th>
        <th>Detalji</th>
        <th>Azuriraj</th>
        <th>Brisi</th>
    </tr>
    @foreach (var rezervator in Model)
    {
        <tr>
            <td>@rezervator.Id</td>
            <td>@rezervator.Ime</td>
            <td>@rezervator.Prezime</td>
            <td>@rezervator.Email</td>
            <td>@rezervator.Mobitel</td>
            <td>@rezervator.datumRod</td>
            <td>@Html.ActionLink("Info", "Detalji", new { id = rezervator.Id }) </td>
            <td>@Html.ActionLink("Azuriraj", "Azuriraj", new { id = rezervator.Id }) </td>
            <td>@Html.ActionLink("Izbrisi", "Brisi", new { id = rezervator.Id }) </td>
        </tr>
    }
</table>

